<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

    <link href="~/Content/bootsnipp_submenu.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootsnipp_iconmenu.css" rel="stylesheet" />
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    @*<link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-twitch" role="navigation">
        <div class="container">
            <div class="">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Admin/HomeAdmin">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home">
                                <span class="glyphicon glyphicon-home"></span>
                            </span>
                            <span class="full-nav"> Home </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ตั้งค่าระบบ">
                                <span class="glyphicon glyphicon-cog"></span>
                            </span>
                            <span class="full-nav"> ตั้งค่าระบบ </span>
                        </a>
                    </li>
                    <li>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div style="background-color:purple">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="/Admin/Years/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ปีงบประมาณ">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> ปีงบประมาณ </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/SVs/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="หน่วย กสอ.">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> หน่วย กสอ. </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/Units/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="หน่วยร่วมทั้งหมด">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> หน่วยร่วมทั้งหมด </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/ActivityTypes/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ประเภทกิจกรรมทั้งหมด">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> ประเภทกิจกรรมทั้งหมดหน่วยร่วมทั้งหมด </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ตั้งค่าปี">
                                <span class="fa fa-calendar"></span>
                            </span>
                            <span class="full-nav"> ตั้งค่าปี </span>
                        </a>
                    </li>
                    <li>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div style="background-color:purple">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="/Admin/SVActivityYears/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="กำหนดเป้าหมาย">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-flag-o fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> กำหนดเป้าหมาย </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/SVUnitYears/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="หน่วยร่วมในปี">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> หน่วยร่วมในปี </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>


                    @*act-section*@

                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseMas">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ตั้งค่าพื้นฐาน">
                                <span class="glyphicon glyphicon-cog"></span>
                            </span>
                            <span class="full-nav"> ตั้งค่าพื้นฐาน </span>
                        </a>
                    </li>
                    <li>
                        <div id="collapseMas" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div style="background-color:purple">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <a href="/Admin/MasAmphurs/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="อำเภอ">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> อำเภอ </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/MasBusinessTypes/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ประเภทธุรกิจ">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> ประเภทธุรกิจ </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/MasCareerTypes/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ประเภทอาชีพ">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> ประเภทอาชีพ </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/MasEducationTypes/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ประเภทการศึกษา">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> ประเภทการศึกษา </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/MasProvinces/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="จังหวัด">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> จังหวัด </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/MasSubBusinessTypes/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ประเภทธุรกิจย่อย">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> ประเภทธุรกิจย่อย </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/Admin/MasTambols/">
                                                    <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ตำบล">
                                                        <span class="fa-stack fa-lg">
                                                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                            <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </span>
                                                    <span class="full-nav"> ตำบล </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    @*act-section*@



                    <li>
                        <a href="/Admin/Users/">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="จัดการผู้ใช้งาน">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <span class="full-nav"> จัดการผู้ใช้งาน </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="รายงาน">
                                <span class="glyphicon glyphicon-print"></span>
                            </span>
                            <span class="full-nav"> รายงาน </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="container body-content">
                @RenderBody()
                @*<hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
            </div>
        </div>
    </div>
   
    @RenderSection("scripts", required: false)


</body>
</html>