@model NBC.Models.User

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("UserName")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.Label("เลขประจำตัวประชาชน")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardId)
        </dd>

        <dt>
            @Html.Label("ชื่อ-นามสกุล")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.Label("เบอร์โทรศัพท์")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.Label("เบอร์มือถือ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.Label("เบอร์แฟกซ์")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.Label("อีเมลล์")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.Label("วันเวลาที่เข้าระบบล่าสุด")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isEnable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEnable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
