@model NBC.Models.Year

@{
    ViewBag.Title = "Delete";
  //  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>ท่านต้องการที่จะลบข้อมูลนี้ใช่หรือไม่?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("ชื่อปีงบประมาณ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("วันที่เริ่มปีงบประมาณ")
        </dt>

        <dd>
            @Html.ValueFor(model => model.StartDate, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            @Html.Label("วันที่สิ้นสุดปีงบประมาณ")
        </dt>

        <dd>
            @Html.ValueFor(model => model.EndDate, "{0:dd/MM/yyyy}")
          
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
          <p> 
              <input type="submit" value="ต้องการลบข้อมูล" class="openCreateBox btn btn-primary btn-xs" />
              @Html.ActionLink("ย้อนกลับ", "Index", "Years", null, new { @class = "openCreateBox btn btn-primary btn-xs" })
            </p> 
      
        </div>
    }
</div>
