@model NBC.Models.Year

@{
    ViewBag.Title = "Details";
  //  Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>*@

<div>
    @*<h4>Year</h4>*@
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("ชื่อปีงบประมาณ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("วันที่เริ่มปีงบประมาณ")
        </dt>

        <dd>
           
            @Html.ValueFor(model => model.StartDate, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            @Html.Label("วันที่สิ้นสุดปีงบประมาณ")
        </dt>

        <dd>
          
            @Html.ValueFor(model => model.EndDate, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            @Html.Label("สร้างโดย")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.Label("วันที่บันทึก")
            
        </dt>

        <dd>
           @Html.ValueFor(model => model.CreatedDate, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            @Html.Label("ปรับปรุงโดย")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.Label("วันที่ปรับปรุง")
                    </dt>

        <dd>
           @Html.ValueFor(model => model.ModifiedDate, "{0:dd/MM/yyyy}")
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("ย้อนกลับ", "Index", "Years", null, new { @class = "openCreateBox btn btn-primary btn-xs" })
</p>
