@using NBC.Models
@model IEnumerable<Year>

@{
    ViewBag.Title = "Index";
    int currentYear = (int)(ViewBag.Y ?? -1);
    //   Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />*@

@*<h2>ปีงบประมาณ</h2>*@


<body ng-app>
    <div class="container">
        <div class="row">
            <h2 class="text-left">ปีงบประมาณ</h2>
            <p>
                @*@Html.ActionLink("เพิ่มปีงบประมาณ", "Create")*@
                <button class="openCreateBox btn btn-primary btn-default" data-title="Edit" data-toggle="modal" data-target="#create" value="เพิ่มปีงบประมาณ">เพิ่มปีงบประมาณ</button>
</p>
        </div>

        <div class="row">


            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="example" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">

                        <thead>

                            <tr>

                                <th>
                                    ปีงบประมาณ
                                </th>
                                <th>
                                    วันที่เริ่ม
                                </th>
                                <th>
                                    วันที่สิ้นสุด
                                </th>
                                <th>
                                    isCurrentYear?
                                </th>
                                <th>
                                    isLock?
                                </th>
                                <th>

                                </th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                        {
                                <tr>
                                    <td id="Name">
                                        @Html.DisplayFor(modelItem => item.Name)                                       
                                    </td>
                                    <td class="Std">
                                        @Html.ValueFor(modelItem => item.StartDate, "{0:dd/MM/yyyy}")
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => @item.EndDate, "{0:dd/MM/yyyy}")
                                    </td>
                                    <td class="cur">
                                        @if (item.Id == currentYear)
                                    {
                                            <button id="year" name="year" class="glyphicon glyphicon-ok"></button>
                                    }
                                    else
                                    {
                                            <button id="year" name="year" class="btn btn-default"></button>
                                    }
                                    </td>
                                    <td class="lock">
                                        @if (item.IsLock)
                                    {
                                            <button name="lock" class="glyphicon glyphicon-ok"></button>
                                    }
                                    else
                                    {
                                            <button name="lock" class="btn btn-default"></button>
                                    }
                                    </td>
                                    <td class="MA">

                                        <p data-placement="top" data-toggle="tooltip" title="แก้ไข"> <button class="openEditBox btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-year-id="@item.Id" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                                        <p data-placement="top" data-toggle="tooltip" title="ลบ"><button class="openDeleteBox btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-year-id="@item.Id" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                        <p data-placement="top" data-toggle="tooltip" title="ดูข้อมูล"><button class="openDetailBox btn btn-info btn-xs" data-title="Detail" data-toggle="modal" data-year-id="@item.Id" data-target="#detail"><span class="glyphicon glyphicon-search"></span></button></p>

                                    </td>
                                </tr>

                        }
                        </tbody>



                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">แก้ไขข้อมูลปีงบประมาณ</h4>
                </div>
                <div class="modal-body">
                    <p>Loading......&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">ข้อมูลปีงบประมาณ</h4>
                </div>
                <div class="modal-body">
                    <p>Loading......&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">ลบปีงบประมาณ</h4>
                </div>
                <div class="modal-body">
                    <p>Loading......&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   <div class="modal fade" tabindex="-1" role="dialog" id="create">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">เพิ่มปีงบประมาณ</h4>
                </div>
                <div class="modal-body">
                    <p>Loading......&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
   
   

</body>



<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="~/Scripts/jquerysession.js"></script>
<script src="~/Scripts/angular.js"></script>
<script type="text/javascript" charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css "></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
<script src="~/Content/locales/bootstrap-datepicker.th.min.js"></script>
<link href="~/Content/css/bootstrap-datepicker.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">




<script language="javascript">

    $(document).ready(function () {

        var table = $('#example').DataTable({

            dom: 'Bfrtip',

            buttons: [

                'copy', 'csv', 'excel', 'pdf', 'print'

            ],


        });
        $('.openEditBox').on('click', function (event) {
            var button = $(this) // Button that triggered the modal
            var yearId = button.data('yearId') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $("#edit")
            var url = "/Admin/Years/Edit/" + yearId;
            $.get(url).success(function (html) {
                modal.find(".modal-body").html(html);
                modal.modal("show");
            })
        });
        $('.openDetailBox').on('click', function (event) {
            var button = $(this) // Button that triggered the modal
            var yearId = button.data('yearId') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $("#detail")

            var url = "/Admin/Years/Details/" + yearId;
            $.get(url).success(function (html) {
                modal.find(".modal-body").html(html);
                modal.modal("show");
            })
        });
        $('.openDeleteBox').on('click', function (event) {
            var button = $(this) // Button that triggered the modal
            var yearId = button.data('yearId') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $("#delete")

            var url = "/Admin/Years/Delete/" + yearId;
            $.get(url).success(function (html) {
                modal.find(".modal-body").html(html);
                modal.modal("show");
            })
        });
        $('.openCreateBox').on('click', function (event) {
            var button = $(this) // Button that triggered the modal
            var yearId = button.data('yearId') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $("#create")

            var url = "/Admin/Years/Create/";
            $.get(url).success(function (html) {
                modal.find(".modal-body").html(html);
                modal.modal("show");
            })
        });


        $('#example tbody').on('click', '.cur', function () {

            var data = table.row(this).data();
            alert('คุณต้องการเซ็ทค่าปี ' + data[0] + ' ให้เป็นปีปัจจุบันใช่หรือไม่');
            $.session.set('SELECTED', data[0])
            $.post('/Admin/Years/SetCurrentYear',
                  { year: (data[0]) }, function (c) {
                      if (c.success == true) {
                          alert("ระบบได้เปลี่ยนปีปัจจุบันเรียบร้อยแล้ว");
                      } else {
                          alert("การเปลี่ยนปีปัจจุบันไม่สำเร็จ กรุณาติดต่อเจ้าหน้าที่ดูแลระบบ");
                      }

                      location.reload();
                  });

        });
        $('#example tbody').on('click', '.lock', function () {

            var data = table.row(this).data();
            alert('คุณต้องการล๊อกค่าปี ' + data[0] + ' ใช่หรือไม่');
            $.session.set('SELECTED', data[0])
            $.post('/Admin/Years/SetIsLockYear',
                  { year: (data[0]) }, function (c) {
                      if (c.success == true) {
                          alert("ระบบได้ล๊อกปี " + data[0] + " เรียบร้อยแล้ว");
                      } else {
                          alert("การล๊อกปีไม่สำเร็จ กรุณาติดต่อเจ้าหน้าที่");
                      }

                      location.reload();
                  });

        });



    });
        

</script>
