<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <link href="~/Content/bootsnipp_submenu.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/bootsnipp_iconmenu.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="navbar navbar-purple navbar-twitch" role="navigation">
        <div class="container">
            <div class="">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Admin/HomeAdmin">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="Home">
                                <span class="glyphicon glyphicon-home"></span>
                            </span>
                            <span class="full-nav"> Home </span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="ข้อมูลหน่วยร่วม">
                                <span class="glyphicon glyphicon-cog"></span>
                            </span>
                            <span class="full-nav"> ข้อมูลหน่วยร่วม </span>
                        </a>
                    </li>
                                   
                    <li>
                        <a href="/Unit/HomeUnit/">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="รายชื่อที่ปรึกษา">
                                <span class="glyphicon glyphicon-credit-card"></span>
                            </span>
                            <span class="full-nav"> รายชื่อที่ปรึกษา </span>
                        </a>
                    </li>  

                    <li>
                        <a href="/Unit/HomeUnit/">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="กิจกรรมในปี">
                                <span class="glyphicon glyphicon-hand-right"></span>
                            </span>
                            <span class="full-nav"> กิจกรรมในปี </span>
                        </a>
                    </li>

                    <li>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="/Unit/HomeUnit/">
                                                <span class="small-nav" data-toggle="tooltip" data-placement="right" title="รายชื่อที่ปรึกษา">
                                                    <span class="glyphicon glyphicon-record"></span>
                                                </span>
                                                <span class="full-nav"> รายชื่อที่ปรึกษา </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/Unit/HomeUnit/">
                                                <span class="small-nav" data-toggle="tooltip" data-placement="right" title="กิจกรรมในปี">
                                                    <span class="glyphicon glyphicon-hand-right"></span>
                                                </span>
                                                <span class="full-nav"> กิจกรรมในปี </span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="/Unit/HomeUnit/">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="รายชื่อผู้เข้าร่วมโครงการ">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <span class="full-nav"> รายชื่อผู้เข้าร่วมโครงการ </span>
                        </a>
                    </li>
                    <li>
                        <a href="/Unit/HomeUnit/">
                            <span class="small-nav" data-toggle="tooltip" data-placement="right" title="รายงาน">
                                <span class="glyphicon glyphicon-print"></span>
                            </span>
                            <span class="full-nav"> รายงาน </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>