@model NBC.Models.SV

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <h3>ต้องการลบข้อมูลนี้ใช่หรือไม่</h3>
    <div>
       
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("หน่วย กสอ")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.Label("ชื่อย่อ ")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Alias)
            </dd>
    
           
    
        </dl>
    
        @using (Html.BeginForm("Delete", "SVs", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="ต้องการลบข้อมูล" class="btn btn-primary btn-xs" /> |
                @Html.ActionLink("ย้อนกลับ", "Index", "SVs", null, new { @class = "btn btn-primary btn-xs" })
            </div>
        }
    </div>
</body>
</html>
