@model NBC.Models.SV

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <div>

        <dl class="dl-horizontal">
            <dt>
                ชื่อ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                ชื่อย่อ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Alias)
            </dd>

            <dt>
                บ้านเลขที่
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adress.No)
            </dd>

            @*<dt>
                   หมู่ที่
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.No)
                </dd>*@

            @*<dt>
                    ชั้น
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.Floor)
                </dd>

                <dt>
                    ตึก/อาคาร
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.Building)
                </dd>

                <dt>
                    หมู่บ้าน
                </dt>

                <dd>*@
            @*@Html.DisplayFor(model => model.Adress.MooBan
                </dd>

                <dt>
                   ซอย
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.Soi)
                </dd>

                <dt>
                   ถนน
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.Road)
                </dd>*@

            @*<dt>
                    ตำบล
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.TambolName)
                </dd>

                <dt>
                    อำเภอ
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.AmphurName)
                </dd>

                <dt>
                    จังหวัด
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.ProvinceName)
                </dd>

                <dt>
                   รหัสไปรษณีย์
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Adress.ZipCode)
                </dd>*@

            <dt>

                เบอร์โทร
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>

            <dt>
                อีเมลล์
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                หมายเหตุ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("ย้อนกลับ", "Index", "SVs", null, new { @class = "openCreateBox btn btn-primary btn-xs" })
            </div>
        </div>
    </div>
       
   
</body>
</html>
