@model IEnumerable<NBC.Models.SV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
        <div class="row">
            <h2 class="text-left">หน่วย กสอ.</h2>
            <p>
                @*@Html.ActionLink("เพิ่มหน่วยใหม่", "Create")*@
                <button class="openCreateBox btn btn-primary btn-xs" data-title="create" data-toggle="modal" data-target="#create">เพิ่มหน่วย กสอ.</button>
            </p>
        </div>

        <div class="row">

            <div class="col-md-12">
                <table id="tblSVs" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr >
                            <th class="text-center" >
                                ชื่อ
                            </th>
                            <th class="text-center">
                                ชื่อย่อ
                            </th >
                            <th width="30%" class="text-center">
                                ที่อยู่
                            </th>
                            <th class="text-center">
                                เบอร์โทร
                            </th>
                            <th class="text-center" >
                                อีเมลล์
                            </th>
                            <th class="text-center" >
                                หมายเหตุ
                            </th>                            
                            <th class="text-center">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Label(item.Name)
                                </td>
                                <td>
                                    
                                    <label>@item.Alias</label>
                                </td>
                                <td>
                                    @{
                                        var No = item.Adress.No;
                                        var Moo = item.Adress.Moo;
                                        var MooBan = item.Adress.MooBan;
                                        var AmphurName = item.Adress.AmphurName;
                                        var Building = item.Adress.Building;
                                        var Floor = item.Adress.Floor;
                                        var ProvinceName = item.Adress.ProvinceName;
                                        var Road = item.Adress.Road;
                                        var Soi = item.Adress.Soi;
                                        var TambolName = item.Adress.TambolName;
                                        var ZipCode = item.Adress.ZipCode;
                                        var address="";
                                        if (No != null) { address = "บ้านเลขที่ " + No; }
                                        if (Moo != null) { address = address + " หมู่ที่ " + Moo; }
                                        if (Floor != null) { address = address + " ชั้นที่ " + Floor; }
                                        if (Building != null) { address = address + " ตึก/อาคาร " + Building; }
                                        if (MooBan != null) { address = address + " หมู่บ้าน " + MooBan; }
                                        if (Soi != null) { address = address + " ซอย " + Soi; }
                                        if (Road != null) { address = address + " ถนน " + Road; }
                                        if (TambolName != null) { address = address + " ตำบล/แขวง " + TambolName; }
                                        if (AmphurName != null) { address = address + " อำเภอ/เขต " + AmphurName; }
                                        if (ProvinceName != null) { address = address + " จังหวัด " + ProvinceName; }
                                        if (ZipCode != null) { address = address + " รหัสไปรษณีย์ " + ZipCode; }

                                    }
                                    @Html.Label(address)
                                </td>
                                <td>
                                    @Html.Label(item.Tel)
                                </td>
                                <td>
                                    <label>@item.Email</label>
                                   
                                </td>
                                <td>
                                    @Html.Label(item.Notes)
                                </td>
                               
                                <td class="text-center">
                                    <p data-placement="top" data-toggle="tooltip" title="แก้ไข"> <button class="openEditBox btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-user-id="@item.Id" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>
                                    <p data-placement="top" data-toggle="tooltip" title="ดูข้อมูล"><button class="openDetailBox btn btn-info btn-xs" data-title="Detail" data-toggle="modal" data-user-id="@item.Id" data-target="#detail"><span class="glyphicon glyphicon-user"></span></button></p>
                                    <p data-placement="top" data-toggle="tooltip" title="ลบ"><button class="openDeleteBox btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-user-id="@item.Id" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                   
                                </td>
                            </tr>
                        }
                    </tbody>

</table>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   @* <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">แก้ไขข้อมูล</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    

    <div class="modal fade" tabindex="-1" role="dialog" id="detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   @* <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">ข้อมูลหน่วย กสอ.</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">ลบข้อมูล</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="create">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   @* <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                    <h4 class="modal-title">เพิ่มหน่วย กสอ.</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.3.js "></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css "></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
<script language="javascript">
    $(document).ready(function () {

        var table = $('#tblSVs').DataTable({

            dom: 'Bfrtip',

            buttons: [

                'copy', 'csv', 'excel', 'pdf', 'print'

            ],


        });

    });
    $('.openEditBox').on('click', function (event) {
        var button = $(this) // Button that triggered the modal
        var userId = button.data('userId') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $("#edit")
        var u = userId
        var url = "/Admin/SVs/Edit/" + u
        $.get(url).success(function (html) {
            modal.find(".modal-body").html(html);
            modal.modal("show");
        })
    });
    $('.openDetailBox').on('click', function (event) {
        var button = $(this) // Button that triggered the modal
        var userId = button.data('userId') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $("#detail")
        var u = userId
        var url = "/Admin/SVs/Details/" + u;
        $.get(url).success(function (html) {
            modal.find(".modal-body").html(html);
            modal.modal("show");
        })
    });
    $('.openDeleteBox').on('click', function (event) {
        var button = $(this) // Button that triggered the modal
        var userId = button.data('userId') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).

        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $("#delete")
        var u = userId

        var url = "/Admin/SVs/Delete/" + u;
        $.get(url).success(function (html) {
            modal.find(".modal-body").html(html);
            modal.modal("show");
        })
    });
    $('.openCreateBox').on('click', function (event) {

        var modal = $("#create")
        var url = "/Admin/SVs/Create";
        $.get(url).success(function (html) {
            modal.find(".modal-body").html(html);
            modal.modal("show");
        })
    });

</script>